<div class="container main-container mt-3">
  <h1 class="text-center">DUYURULAR</h1>

  <div class="col-md-12 text-center mb-2" *ngIf="chatService.user.uid">
   <button type="button" class="btn btn-outline-danger" (click)="chatService.logout()">Çıkış Yap</button>
  </div>

  <app-login *ngIf="!chatService.user.uid"></app-login>

  <div *ngIf="chatService.user.uid" class="chat-window">
    <app-chat></app-chat>
  </div>
</div>

<!-- <ul>
  <li class="text" *ngFor="let item of chats | async">
    {{item.message}}
  </li>
</ul> -->
