<div class="row">
    <!-- <div class="col-md-12 text-center">
        <input type="text" name="name" [(ngModel)]="name" (keyup.enter)="login('manual')" placeholder="Name"
            class="form-control w-25 mx-auto mb-1">
        <button type="button" class="btn btn-outline-primary" (click)="login('manual')">Log in</button>
    </div> -->

    <div class="col-md-12 text-center">
        <p> Hesabınızla giriş yapın. </p>
        <button type="button" class="btn btn-outline-primary" (click)="login('google')">Google</button>
        <button type="button" class="btn btn-outline-info" (click)="login('twitter')">Twitter</button>
    </div>
</div>